#products_table th.th-actions {
  min-width: 127px;
}

#products_table th.filter-input input {
  width: 160px;
}

#products_table .filter-date input {
  width: 175px;
}

#update_status_bulk,
#get_csv_file {
  margin: 0 15px;
}

#product_update_form input {
  max-width: 250px;
}

